{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Federação de Judô - {% block title %} {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script type="text/javascript" src="{{ STATIC_URL }}css/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>


  <body style="background-color: white">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">Federação de Judô</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="index">Página Inicial</a></li>
            <li><a href="eventos">Eventos</a></li>
            <li><a href="academias">Academias</a></li>
            <li><a href="rankings">Rankings</a></li>
            <!--<li>
              <a data-toggle="dropdown" href="#">Cadastros</a>
                <ul class="dropdown-menu">
                  <li><a href="cadastro_usuario">Cadastrar Usuário</a></li>
                  <li><a href="cadastro_academias">Cadastrar Academia</a></li>
                  <li><a href="cadastro_evento">Cadastrar Evento</a></li>
                  <li><a href="cadastro_noticias">Cadastrar Notícia</a></li>

                </ul>
            </li>-->
            <li><a href="fale_conosco">Fale Conosco</a></li>
            <li><a href="sobre">Sobre</a></li>


          </ul>

        <ul class="nav navbar-nav navbar-right">
              <!--<li><a href="cadastro_usuario"><span class="glyphicon glyphicon-user"></span>Cadastre-se</a></li>-->
              <li><a id="logindex" href="login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
              </li>

              <li><a href="cadastro_usuario"><span class="glyphicon glyphicon-user"></span>Cadastre-se</a></li>
              <!--
              <li><form class="form-inline pull-xs-right" style="margin-top: 8px;"> <input class="form-control" type="text"  placeholder="Pesquise">
                </form>
                <li><a href="#"> <span class="glyphicon glyphicon-search"></span></a>
              </li>
              -->
              <!-- Isso só pode ser exibido caso o usuário esteja logado -->
              <li>
                <a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="interface_usuario"> Meu Perfil</a></li>
                    <li><a href="#"> Sair</a></li>
                  </ul>
              </li>
        </ul>

        </div>
      </div>
    </nav>

    {% block body %}

    {% endblock %}




<footer class="rodape">
  <div >
    <nav class="navbar navbar-inverse navbar-down">

      <div  class="collapse navbar-collapse">

          <div id="rodape" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <br>



            </div>
            <div class="row">
              <!--Informações-->
              <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">

                <br>
                <strong class="contato">
                  <span class="glyphicon glyphicon-comment  "> </span> Informações
                </strong>

                <hr>
                <a id="oque" href="sobre" class="contato"> <ins style="text-decoration: none;">O que é a Federação de Judô</ins></a>
                <br><br>
                <a id="cadsr" href="cadastro_usuario" class="contato"> <ins style="text-decoration: none;">Como se cadastrar neste site</ins></a>
                <br><br>
                <a id="cadr" href="cadastro_eventos" class="contato"> <ins style="text-decoration: none;">Como cadastrar seu evento neste site</ins></a>

              </div>

              <!--Contato-->
              <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <br>
                <strong class="contato">
                  <span class="glyphicon glyphicon-list-alt"></span> Contato
                </strong>

                <hr>
                <p class = "contato"> Envie-nos um email: contato@fju.com.br<a id="email" class="contato" style="text-decoration: none;"></p></a>
                <br>
                <a id="faler" href="fale_conosco" class="contato" style="text-decoration: none;"><ins style="text-decoration: none;">Fale conosco pelo site <br><br><br></ins></a>


              </div>
            </div>

        </div>
        <br><br>
      </div>


    </nav>
    </footer>

  </body>
</html>

<!-- vai dar certo -->
