
<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>

    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fed Judô</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index">Página Inicial</a></li>
              <li><a href="eventos">Eventos</a></li>
              <li><a href="#">Academias</a></li>
              <li><a href="rankings">Rankings</a></li>
            </ul>

          <ul class="nav navbar-nav navbar-right">
                <li><a href="cadastro_usuario"><span class="glyphicon glyphicon-user"></span>Cadastre-se</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>

          </div>
        </div>
      </nav>


      <div class="container">
        <h2>Cadastro de Usuários</h2>
        {% if codigo == 0 %}
        <form class="form-horizontal" action="#" method="POST">{% csrf_token %}>
          <div class="form-group">
            <label class="control-label col-sm-2" for="nome">Nome:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="nome" placeholder="Insira seu nome" name="nome">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="Endereco">Endereço:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="endereco" placeholder="Insira seu endereço" name="endereco">
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Data de Nascimento:</label>
            <div class="col-sm-7">
              <input type="datetime" class="form-control" placeholder="Insira sua Data de Nascimento" id="data_nascimento" name="data_nascimento">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="number">Telefone:</label>
            <div class="col-sm-7">
              <input type="numbet" class="form-control" id="telefone" placeholder="Insira seu telefone" name="telefone">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="cpf">CPF:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="cpf" placeholder="Insira seu CPF" name="cpf">
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-2" for="email">login:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="login" placeholder="Insira seu LOGIN" name="login">
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Senha:</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="senha" placeholder="Insira sua senha" name="senha">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Confirme sua Senha:</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="confirmacao_senha" placeholder="Confirme sua senha" name="confirmacao_senha">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Enviar</button>
            </div>
          </div>
        </form>
        {% elif codigo == 1 %}
          Efetuado com sucesso
        {% else %}
          <form class="form-horizontal" action="#" method="POST">{% csrf_token %}>
          <div class="form-group">
            <label class="control-label col-sm-2" for="nome">Nome:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="nome" placeholder="Insira seu nome" name="nome" value="{{ nome }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="Endereco">Endereço:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="endereco" placeholder="Insira seu endereço" name="endereco"
              value="{{ endereco }}">
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Data de Nascimento:</label>
            <div class="col-sm-7">
              <input type="datetime" class="form-control" placeholder="Insira sua Data de Nascimento" id="data_nascimento" name="data_nascimento" value="{{ data_nascimento }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="number">Telefone:</label>
            <div class="col-sm-7">
              <input type="numbet" class="form-control" id="telefone" placeholder="Insira seu telefone" name="telefone"
              value="{{ telefone }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="cpf">CPF:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="cpf" placeholder="Insira seu CPF" name="cpf" value="{{ cpf }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="email">login:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="login" placeholder="Insira seu LOGIN" name="login" value="{{ username }}">
            </div>
          </div>

          senhas diferentes!
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Senha:</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="senha" placeholder="Insira sua senha" name="senha">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Confirme sua Senha:</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="confirmacao_senha" placeholder="Confirme sua senha" name="confirmacao_senha">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Enviar</button>
            </div>
          </div>
        </form>
        {% endif %}
        {{ codigo }}
      </div>





  </body>
</html>
