{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cadastro de Eventos</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

  </head>



  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fed Judô</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Página Inicial</a></li>
            <li><a href="eventos">Eventos</a></li>
            <li><a href="#">Academias</a></li>
            <li><a href="rankings">Rankings</a></li>
          </ul>

        <ul class="nav navbar-nav navbar-right">
              <li><a href="cadastro_usuario"><span class="glyphicon glyphicon-user"></span>Cadastre-se</a></li>
              <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
      </div>
    </nav>




    <div class="container">
      <h2>Cadastro de Eventos</h2>
      {% if codigo == 0 %}
      <form class="form-horizontal" action="#" method="POST">{% csrf_token %}
        <div class="form-group">
          <label class="control-label col-sm-2" for="nome">Nome do Evento:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="nome" placeholder="Insira o nome do Evento" name="nome">
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Data de Início</label>
          <div class="col-sm-7">
            <input type="date" class="form-control" placeholder="Insira a data de início do evento" id="data_inicio" name="data_inicio">
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Data de Finalização do Evento</label>
          <div class="col-sm-7">
            <input type="date" class="form-control" placeholder="Insira a data de Finalização do evento" id="data_fim" name="data_fim">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Tipo de Evento</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Insira o tipo do evento" id="tipo_Evento" name="tipo_evento">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Premiação do Evento</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Insira a premiação do evento" id="premiacao" name="premiacao">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Enviar</button>
          </div>
        </div>
      </form>
      {% elif codigo == 1 %}
        Efetuado com sucesso
      {% endif %}
      {{ codigo }}



  </body>
</html>
