{% extends 'base.html' %}

{% block title %}Eventos{% endblock %}

{% block body %}

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-1 sidenav">

        </div>

        <div class="col-sm-10">
          <h1>Eventos</h1>
          <div class="collapse navbar-collapse" id="myNavbar">

          </div>
          <hr>

          <h5> 02/11/17 a 03/11/17</h5>
          <h3 class="text-info" > CBI: Grand Prix Nacional Misto Sub 21 - São Paulo/SP</h3>

          <hr>

          <h5> 11/11/17 a 12/11/17</h5>
          <h3 class="text-info"> Campeonato Brasileiro Sênior - Lauro de Freitas/BA</h3>

          <hr>
          <hr>
        </div>
      </div>
    </div>


{% endblock %}
