{% extends 'base.html' %}

{% block title %}Administração{% endblock %}

{% block body %}


<div class="container-fluid">
      <div class="row content">
        <div class="col-sm-8 sidenav">
          <div class="container">
            <h1>&emsp;&emsp;&emsp;Fale Conosco</h1><br><br>
            {% if codigo == 0 %}
            <form class="form-horizontal" action="#" method="POST">{% csrf_token %}
              <div class="form-group">
                <label class="control-label col-sm-2" for="nome">Nome:</label>
                <div class="col-sm-6">
                  <input type="text" required="required" class="form-control" id="nome" placeholder="Insira seu nome. Ex.: José" name="nome">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="nome">E-mail:</label>
                <div class="col-sm-6">
                  <input type="email" required="required" class="form-control" id="email" placeholder="Insira seu e-mail para contato. Ex.: jose@email.com" name="email">
                </div>
              </div>


              <div class="form-group">
                <label class="control-label col-sm-2" for="nome">Mensagem:</label>
                <div class="col-sm-6">
                  <textarea type="text" required="required" class="form-control" id="mensagem" placeholder="Insira aqui sua mensagem para nós" name="mensagem"></textarea>
                </div>
              </div>


              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Enviar</button>
                  </div>
              </div>
             
            </form>


          </div>
        </div>

        <div class="col-sm-4"><br><br><br><br>
          <h3>Outras formas de se comunicar </h3>
          <h4>Endereço: </h4>
              &emsp;&emsp;<b>Cidade: </b> Salvador <br>
              &emsp;&emsp;<b>Bairro: </b> Alphaville I <br>
              &emsp;&emsp;<b>Endereço: </b> Av.Luiz Viana Filho ,Centro Comercial Plaza Mall<br>
          <h4>Telefone:</h4> 
              &emsp;&emsp;(00) 00000-0000
          <h4>Email:</h4> 
              &emsp;&emsp;contato@fju.com.br
        </div>
    </div>
</div>

<!--
    {% elif codigo == 1 %}
      Mensagem Enviada
      Obrigado pelo Feedback!
    {% endif %}
    {{codigo}}-->

{% endblock %}
