
{% extends 'base.html' %}
<!-->>>>>>> af530f7209ef1c257b3041faa02b9bb95f75491b-->

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container well">
      <div class="row content">

          <div class="col-sm-8">
            <h4><small>NOTÍCIAS RECENTES</small></h4>
            <hr>
            {% for notices in noticias %}

              <h2>{{notices.titulo}}</h2>
              <h5><span class="glyphicon glyphicon-time"></span> Postado por (AUTOR) ORRIGIR E INSERIR O AUTOR , {{notices.data_lancamento_noticia}}.</h5>
              <!--<h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>-->
              <p>{{notices.corpo}}</p>
              <img width="300px" src="{{MEDIA_URL}}{{notices.imagem.url}}">
            <br><br>
            {% endfor %}
            <!--
            <h4><small>EVENTOS RECENTES</small></h4>
            <hr>

            <h2>{{event.nome_evento}}</h2>
            <h5><span class="glyphicon glyphicon-time"></span> , Sep 24, 2015.</h5>
            <h5><span class="label label-success">Lorem</span></h5><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <hr>
          -->
          </div>
      </div>
    </div>

    <div class="container well">
      <div class="row content">
        <div class="col-sm-8">
    <div id="footer">
        <div class="container">
            <div class="row">
                <h3 class="footertext">About Us:</h3>
                <br>
                  <div class="col-md-4">
                    <center>
                      <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                      <br>
                      <h4 class="footertext">Programmer</h4>
                      <p class="footertext">You can thank all the crazy programming here to this guy.<br>
                    </center>
                  </div>
                  <div class="col-md-4">
                    <center>
                      <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                      <br>
                      <h4 class="footertext">Artist</h4>
                      <p class="footertext">All the images here are hand drawn by this man.<br>
                    </center>
                  </div>
                  <div class="col-md-4">
                    <center>
                      <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                      <br>
                      <h4 class="footertext">Designer</h4>
                      <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                    </center>
                  </div>
            </div>
            <div class="row">
                <p><center><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014</p></center></p>
            </div>
          </div>
      </div>
    </div>
    </div>
</div>
  </body>
</html>

          <h4><small>RECENT POSTS</small></h4>
          <hr>
          <h2>Officially Blogging</h2>
          <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
          <h5><span class="label label-success">Lorem</span></h5><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <hr>
</div>
</div>
</div>

{% endblock %}
<!-->>>>>>> af530f7209ef1c257b3041faa02b9bb95f75491b-->
