{% extends 'base.html' %}

{% block title %}Ranking{% endblock %}

{% block body %}


   <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-1 sidenav">

        </div>

        <div class="col-sm-10">
          <h1>Ranking</h1>
          <div class="collapse navbar-collapse" id="myNavbar">

          </div>
          <hr>

          	<table class="table">
			  <thead class="thead-default">
			    <tr>
			      <th>Colocação</th>
			      <th>Academia</th>
			      <th>Pontuação</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Academia1</td>
			      <td>800</td>
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Academia2</td>
			      <td>799</td>
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td>Academia3</td>
			      <td>798</td>
			    </tr>
			    
			    
			  </tbody>
			</table>

          

        </div>
      </div>
    </div>



{% endblock %}
