{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block body %}

    
<div class="container-fluid">
      <div class="row content">
        <div class="col-sm-1 sidenav">
          
        </div>

        <div class="col-sm-10">
          <h1>Sobre</h1>
          <div class="collapse navbar-collapse" id="myNavbar">
            
          </div>
          <hr>
          
          <p> 
          &emsp;&emsp;As artes marciais no final dos anos 60 começaram a crescer e este crescimento precisava ser coordenado e orientado para atender as novas necessidades dos instrutores e praticantes.<br/>

          &emsp;&emsp;Assim como as outras modalidades, o judô também preocupado com sua expansão rápida sentiu que o momento de organizar-se chegara.<br/>

          &emsp;&emsp;Os clubes fundadores da Federação de Judô foram o Iate Clube da Bahia, AABB (Associação Atlética do Banco do Brasil), Caraíba Judô Clube e Spartan Judô Clube, tendo como primeiro presidente o Sr. Hemetério Chaves Filho.<br/><br/>
          </p>
          <p>
          &emsp;&emsp;<b>Assim foi fundada a Federação de Judô em 16/04/1970</b><br/><br/><br/>

 

          <h4>Presidentes ao longo da História:</h4><br/>

          &emsp;&emsp;Hemetério Chaves Filho (1970-1973)<br/>

          &emsp;&emsp;Jose Alberto Fonseca Kruschewsky (1979-1982)<br/>

          &emsp;&emsp;Pedro Ivo Bacelar (1982-1985)<br/>

          &emsp;&emsp;Paulo Roberto Fraga Lima (1985-1988)<br/>

          &emsp;&emsp;Alberto Leitão Guerra (1988-1991)<br/>

          &emsp;&emsp;Aloísio da Costa Short Sobrinho (1991-1994)<br/>

          &emsp;&emsp;João Gonzalez Passos (1994-1997)<br/>

          &emsp;&emsp;Marcelo França Moreira (1997-2004)<br/>

          &emsp;&emsp;Paulo Macedo (2005-2008)<br/>

          &emsp;&emsp;Antonio Oliva (2009-2012)<br/>

          &emsp;&emsp;Marcelo Ornelas da Cruz França Moreira (2013-2016).</p><br/>
          <hr>

          </div>
          </div>
          </div>
          
          {% endblock %}
